<!-- Contenture.com Micropayments -->
<script type="text/javascript">
var ctrdomain = location.protocol == "https:" ? "https://secure." : "http://t.";
document.write(unescape("%3Cscript src='" + ctrdomain + "contenture.com/t.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<a href="http://contenture.com/" title="micropayments microtransactions freemium">
<script type="text/javascript">
  if( typeof( _ctr ) != "object" ) {
    var ctr_blocked = 1;
    var _ctr={init:function(){},is_user:function(){return false;},is_authorized:function(){return false;},priority_content:function(){},filter:function(){},hide_ads:function(){}};
  }
  <!-- All customizations MUST go between this line and the "init" line below. -->
  
  _ctr.init( '34281', 'cdb1' );
</script></a>
<!-- End Contenture -->